<!DOCTYPE html>
<html>
<head>
  <title>Heartrate Log</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="/public/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <div class='header'><h1>Heart Line</h1></div>

<%= yield %>

</body>
</html>
